{{#each blogs as |blog|}}

<div class="card">
  <h5 class="card-header">{{blog_name}}</h5>
  <div class="card-body">
    <p class="card-text">{{description}}</p>
    <a href="#" class="btn btn-primary">Leave a comment</a>
  </div>
</div>

{{/each}}
