<div class="blog-card">
  <div class="blog-card-header">
    {{blog_name}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>

  </div>
</div>

<!-- This form is responsible for the UI logic, or the components in the View that the user will interact with. -->







<script src="/js/edit-blog.js"></script>